<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhoudy.springboot.usermanage.dao.UserMapper">

	<select id="getUser" resultType="com.zhoudy.springboot.usermanage.entity.vo.UserVo">
	 	select * from userinfo;
	</select>

	<insert id="saveUser" parameterType="com.zhoudy.springboot.usermanage.entity.po.UserPo">
		insert into  userinfo (name,sex,age,phone,start)
		values (#{name},#{sex},#{age},#{phone},#{start}) ;
	</insert>

<!--	<update id="updateUser">-->

<!--	</update>-->

	<delete id="deleteUser" parameterType="java.lang.String">
		delete from userinfo where name = #{name}
	</delete>
</mapper>